aiohttp==3.11.10
altair==5.5.0
fastapi==0.115.6
google-cloud-storage==2.19.0
huggingface-hub==0.24.0
langchain==0.3.10
matplotlib==3.9.3
numpy==2.0.2
openai==1.57.0
pandas==2.2.2
plotly==5.22.0
requests==2.32.3
scikit-learn==1.4.2
spacy==3.8.2
streamlit==1.39.0
tqdm==4.67.1
transformers==4.41.2
uvicorn==0.32.1
nltk==3.8.1
st-pages==1.0.1
streamlit==1.39.0
streamlit-lottie==0.0.5
streamlit-on-Hover-tabs==1.0.1
apify_client
folium
langchain_groq
gdelt
networkx

